*.pyc
*.pyo
*.log
*.md
*.map
*.sh
*.Dockerfile
Dockerfile
docker
deployment.yml
.drone.yml
.DS_Store
.python-version
!.gitkeep
!.gitignore
!.reload
.git/*
tmp/*
.cache/
.sass-cache/
.pytest_cache/
__pycache__/*
plugins/*/static/*
pip_cache/